extends layout

block content
  h1= title
  p This is a small file upload API built with Node.js, Express Generator, and the multer npm module. 
  | It was built to fulfill the 
  a(href='https://www.freecodecamp.com/challenges/file-metadata-microservice') user stories 
  |for the Free Code Camp backend project of the same name. 
  h2 User Stories
  ol
    li I can submit a FormData object that includes a file upload.
    li When I submit something, I will receive the file size in bytes within the JSON response.
